* {
	font-family: "Amatic SC", sans-serif
}

.photo {
	background-image: url("https://i.pinimg.com/originals/b9/28/cf/b928cf0cd21157a605f77071f96be0ec.jpg");
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 500px;
	background-position: center;
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.open-time, .menu {
	font-size: 35px;
	color: #ffffff;
}

.title {
	font-size: 100px;
	color: #ffffff;
}